html {
  min-height: 100vh;
  min-width: 100vh;
  background: linear-gradient(0deg, #5f5f5f, #000000, #5f5f5f);
}

body {
  color: white;
  margin: 0 auto;
  width: min-content;


}

#title {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}


#description {
  text-align: center;
  margin: 0 auto;


}

#survey-form {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: brown;
  width: min-content;

}

